@import "tailwindcss";
/*  custom design */
@theme{
    --deepblue-500:#fee685
   
}
.bgdeepblue{
background-color: var(--deepblue-500);
}
.customcolor{
color: var(--deepblue-500);
}
/* utility classes */
@utility container {
    
    background:#456666;
}
.learn{
    @apply bg-amber-500 text-red-400 font-bold text-3xl;
}
.learn1{
    @apply text-2xl bg-amber-500
}